.home{
    height: calc(100vh - 300px);
    background: rgb(250,163,7);
    background: linear-gradient(180deg, rgba(250,163,7,1) 0%, rgba(220,47,2,1) 100%);
    width: 100%;
    display: flex;
    align-items: center;
}

.home-content{
    
}